<nav class="nav px-4 py-2 d-flex justify-content-between align-items-center" style="background-color: #31363F;">
     <!-- logo -->
     <div class="logo d-flex align-items-center fw-bold">
       <i class="fa-solid fa-b" style="color: #00ADB5; font-size: 1.5rem;"></i> 
       <span class="ms-2" style="color: #EEEEEE; font-size: 1.4rem;"><b>RESOURCES</b></span>
   </div>
   
   
     <!-- Nav links -->
     <ul class="nav nav-underline">
       <li class="nav-item mx-3">
         <a class="nav-link" href="#"><b>Home</b></a>
       </li>
       <li class="nav-item mx-3">
         <a class="nav-link" href="#"><b>Upload</b></a>
       </li>
       <li class="nav-item mx-3">
         <a class="nav-link" href="#"><b>Admin</b></a>
       </li> 
     </ul>
     
</nav>
   